@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #005780;
  --color-success: #5A9A43;
}

@layer base {
  * {
    border-color: #e2e8f0;
    outline-color: rgba(148, 163, 184, 0.5);
  }
  body {
    background-color: #f8fafc;
    color: #0f172a;
  }
  html {
    @apply font-sans;
  }
}